<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpSpeed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpSpeed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SharpSpeed.Properties.Settings>
            <setting name="PersonPath" serializeAs="String">
                <value>/people/</value>
            </setting>
            <setting name="PersonSuffix" serializeAs="String">
                <value>.json</value>
            </setting>
            <setting name="RoutesPath" serializeAs="String">
                <value>/people/</value>
            </setting>
            <setting name="RoutesSuffix" serializeAs="String">
                <value>/routes.json</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>api.dailymile.com</value>
            </setting>
            <setting name="Scheme" serializeAs="String">
                <value>https://</value>
            </setting>
        </SharpSpeed.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SharpSpeed.Properties.Settings>
            <setting name="EntriesPath" serializeAs="String">
                <value>/people/</value>
            </setting>
            <setting name="EntriesSuffix" serializeAs="String">
                <value>/entries.json</value>
            </setting>
            <setting name="RoutePath" serializeAs="String">
                <value>/routes/</value>
            </setting>
            <setting name="RouteSuffix" serializeAs="String">
                <value>.gpx</value>
            </setting>
            <setting name="PublicEntriesPath" serializeAs="String">
                <value>/entries.json</value>
            </setting>
            <setting name="EntryPath" serializeAs="String">
                <value>/entries/</value>
            </setting>
            <setting name="EntrySuffix" serializeAs="String">
                <value>.json</value>
            </setting>
            <setting name="FriendsPath" serializeAs="String">
                <value>/people/</value>
            </setting>
            <setting name="FriendsSuffix" serializeAs="String">
                <value>/friends.json</value>
            </setting>
        </SharpSpeed.Properties.Settings>
    </userSettings>
</configuration>